{% load staticfiles %}

<!DOCTYPE html>

<html>
    <head>
        <title>.::Simulador::.</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        {% include 'material/includes/material_css.html' %}
        {% include 'material/includes/material_js.html' %}
    </head>
    <body>
<div id="acerca">
<h1 align="center" style="font-size:30px;">SIMULADOR 1.0</h1>
<p><strong>Software para la Simulación de Materiales Ductiles.</strong></p>
<p><strong>SIMULADOR</strong> es un programa de código abierto, multiplataforma, diseñado para
    la simulación de Materiales Ductiles del Departamento de Mecanica y Mantenimiento Naval de la U.P.T.P "Luis Mariano Rivera", 
    Carúpano, Municipio Bermúdez, Estado Sucre, República Bolivariana de Venezuela.</p>
<p>Diseño y Programación:<br>
TSU. Jessica Garcia <br>
TSU. Jeanfranlys Brazón <br>
TSU. Nathaly Gamboa<br>
Herramientas Utilizadas:<ul>
<li>HTML5</li>
<li>Python</li>
<li>Django 1.10</li>
<li>MariaBD 10.1</li>
<li>Jquery 1.10</li>
<li>Materializecss 0.95</li>
<li>Editor: NetBeans IDE 8.0.2</li>
<li>Ambiente de Desarrollo: GNU/Linux Debian 8</li></ul>
Navegadores Probados: 
<ul><li>Firefox 38.5.0</li>
<li>Google Chrome 48.0</li>
<li>Opera Web Browser 36.0</li></ul>
Sistemas Operativos Probados: 
<ul><li>GNU/Linux Debian 7.1</li>
<li>GNU/Linux Debian 8.0</li>
<li>GNU/Linux Mint (Rebecca)</li>
<li>Ubuntu 16.10</li></ul>
</div>
</body>
</html>
